﻿@model IEnumerable<ProjectAdapterBranchableOverviewModel>
<div class="jumbotron">
    <h1>Spleißpläne erzeugen</h1>
    <p class="lead">Hier können Spleißpläne erzeugt werden</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Auflistung der KVZs und Schächte</h2>
      <table class="table table-bordered table-responsive table-striped table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Typ</th>
                  <th>Plan</th>
              </tr>
          </thead>
          <tbody>
              @{Int32 i = 1; }
              @foreach (ProjectAdapterBranchableOverviewModel branchable in Model)
              {
                <tr>
                    <td>@(i++)</td>
                    <td>@branchable.Name</td>
                    <td>@branchable.Type</td>
                    <td>@Html.ActionLink("export", "GenerateFile", "SpliceOutput", new { id = branchable.AdapterId }, new { @class= "btn btn-default" }) </td>
                </tr>
              }
          </tbody>
      </table>  
    </div>
   
</div>
